<div class="d-flex flex-row">
    <div id="pills-groups" role="tabpanel" aria-labelledby="pills-groups-tab" style="width: 100%">
        <!-- Start Groups content -->
        <div>
            <div class="p-4">
                <div class="user-chat-nav float-end">
                    <div ngbTooltip="Create group">
                        <!-- Button trigger modal -->
                        <button type="button"
                                class="btn btn-link text-decoration-none text-muted font-size-18 py-0"
                                data-toggle="modal" data-target="#addgroup-exampleModal"
                                (click)="openGroupModal(content)">
                            <i class="ri-group-line me-1 ms-0"></i>
                        </button>
                    </div>
                </div>
                <h4 class="mb-4">{{ 'rooms.title' | translate }}</h4>

                <!-- Start add group Modal -->
                <ng-template #content let-modal>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title font-size-16" id="addgroup-exampleModalLabel">
                                {{ 'chat.tabs.groups.modal.title' | translate }}</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                            </button>
                        </div>
                        <div class="modal-body p-4">
                            <form>
                                <div class="mb-4">
                                    <label class="form-label" for="addgroupname-input">{{
                                            'chat.tabs.groups.modal.form.name.label' |
                                                translate
                                        }}</label>
                                    <input type="text" class="form-control" id="addgroupname-input"
                                           placeholder="{{'chat.tabs.groups.modal.form.name.placeholder' | translate}}">
                                </div>
                                <div class="mb-4">
                                    <label
                                            class="form-label">{{ 'chat.tabs.groups.modal.form.members.label' | translate }}</label>
                                    <div class="mb-3">
                                        <button class="btn btn-light btn-sm" type="button"
                                                data-toggle="collapse" (click)="collapse.toggle()"
                                                [attr.aria-expanded]="!isCollapsed"
                                                aria-controls="collapseExample">
                                            {{ 'chat.tabs.groups.modal.form.members.button.text' | translate }}
                                        </button>
                                    </div>

                                    <div class="collapse" id="groupmembercollapse" #collapse="ngbCollapse"
                                         [(ngbCollapse)]="isCollapsed">
                                        <div class="card border">
                                            <div class="card-header">
                                                <h5 class="font-size-15 mb-0">{{ 'chat.tabs.contacts.title' | translate }}</h5>
                                            </div>
                                            <div class="card-body p-2">
                                                <ngx-simplebar data-simplebar style="height: 150px;">
                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.A.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck1" checked="">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck1">{{ 'chat.tabs.contacts.list.A.name' | translate }}</label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck2">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck2">{{ 'chat.tabs.contacts.list.A.name2' | translate }}</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.C.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck3">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck3">
                                                                        {{ 'chat.tabs.contacts.list.C.name' | translate }}</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.D.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck4">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck4">
                                                                        {{ 'chat.tabs.contacts.list.D.name' | translate }}</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.I.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck5">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck5">
                                                                        {{ 'chat.tabs.contacts.list.I.name' | translate }}</label>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.J.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck6">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck6">{{ 'chat.tabs.contacts.list.J.name' | translate }}</label>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck7">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck7">{{ 'chat.tabs.contacts.list.J.name2' | translate }}</label>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck8">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck8">{{ 'chat.tabs.contacts.list.J.name3' | translate }}</label>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.M.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck9">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck9">{{ 'chat.tabs.contacts.list.M.name' | translate }}</label>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck10">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck10">{{ 'chat.tabs.contacts.list.M.name2' | translate }}</label>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.P.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck11">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck11">
                                                                        {{ 'chat.tabs.contacts.list.P.name' | translate }}</label>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.R.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck12">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck12">
                                                                        {{ 'chat.tabs.contacts.list.R.name' | translate }}</label>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div>
                                                        <div class="p-3 fw-bold text-primary">
                                                            {{ 'chat.tabs.contacts.list.S.text' | translate }}
                                                        </div>

                                                        <ul class="list-unstyled contact-list">
                                                            <li>
                                                                <div class="form-check">
                                                                    <input type="checkbox"
                                                                           class="form-check-input"
                                                                           id="memberCheck13">
                                                                    <label class="form-check-label"
                                                                           for="memberCheck13">{{ 'chat.tabs.contacts.list.S.name' | translate }}</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </ngx-simplebar>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="addgroupdescription-input">{{
                                            'chat.tabs.groups.modal.form.description.label' |
                                                translate
                                        }}</label>
                                    <textarea class="form-control" id="addgroupdescription-input" rows="3"
                                              placeholder="{{'chat.tabs.groups.modal.form.description.placeholder' | translate}}"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal"
                                    (click)="modal.dismiss('Cross click')">{{
                                    'chat.tabs.groups.modal.form.button.close' |
                                        translate
                                }}
                            </button>
                            <button type="button" class="btn btn-primary">{{
                                    'chat.tabs.groups.modal.form.button.create' |
                                        translate
                                }}
                            </button>
                        </div>
                    </div>
                </ng-template>
                <!-- End add group Modal -->

                <div class="search-box chat-search-box">
                    <div class="input-group rounded-3">
                        <button class="input-group-text text-muted bg-light pe-1 ps-3" type="button">
                            <i class="ri-search-line search-icon font-size-18"></i>
                        </button>
                        <input type="text" class="form-control bg-light"
                               placeholder="{{'rooms.searchRooms' | translate}}"
                               (keyup)="GroupSearch()" id="searchGroup" autocomplete="off">
                    </div>
                </div>
                <!-- end search-box -->
            </div>

            <!-- Start chat-group-list -->
            <ngx-simplebar class="p-4 chat-message-list chat-group-list" data-simplebar>
                <ul class="list-unstyled chat-list">
                    @for (item of chatStore.allRooms(); track $index) {
                        <li (click)="showGroupChat(item)"
                            [ngClass]="{'active': item.chatName == chatStore.selectedRoom()?.chatName}">
                            <a href="javascript:void(0);">
                                <div class="d-flex align-items-center">
                                    <div class="chat-user-img me-3 ms-0">
                                        <div class="avatar-xs">
                        <span class="avatar-title rounded-circle bg-primary-subtle text-primary">
                          {{ item.chatName.charAt(0) }}
                        </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1 overflow-hidden">
                                        <h5 class="text-truncate font-size-14 mb-0">
                                            #{{ item.chatName }}
                                            <span
                                                    class="badge badge-soft-danger rounded-pill float-end">{{ 3 }}</span>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </ngx-simplebar>
            <!-- End chat-group-list -->
        </div>
        <!-- End Groups content -->
    </div>

</div>
