.ms-0 {
    margin-left: unset !important;
    margin-inline-start: 0 !important;
}

.ms-1 {
    margin-left: unset !important;
    margin-inline-start: 0.25rem !important;
}

.me-1 {
    margin-right: unset !important;
    margin-inline-end: 0.25rem !important;
}

.me-2 {
    margin-right: unset !important;
    margin-inline-end: 0.5rem !important;
}

.me-3 {
    margin-right: unset !important;
    margin-inline-end: 1rem !important;
}
