.layout{
    padding: 5rem;

    
}
.form-layout {
    display: flex;
    flex-direction: column; /* or row, depending on your desired layout */
    gap: 1rem; /* space between flex items */
  }
  
  .form-layout mat-form-field {
    flex: 1; /* adjust this if you want the fields to have equal width */
  }
  
  .center {
    // display: flex;
    // justify-content: space-between;
    margin-top: 1rem;
  }
  