p{
    background: lightblue;
}

.layout {

    border: 5px solid green;

    &-content{
        border:2px solid black;
        display:grid;
        min-height: 100vh;
        grid-template-rows: 1fr auto;

        > *:first-child
        {
            grid-row: 1;
        }
        >*:nth-child(2)
        {
            border: 3px solid yellow;
            display: flex;
            width: 100%;
            >*:nth-child(2)
            {
                flex: 1;
            }
        }
    }
}

// .input-zone {
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     margin: 10px;
//   }
  
//   .input-zone-input {
//     flex: 1;
//     margin-right: 10px;
//   }
  
//   .message-author {
//     font-weight: bold;
//   }
  
//   .messages {
//     border: 1px solid #000;
//     margin: 10px;
//     max-height: 300px;
//     min-height: 300px;
//     overflow-y: auto;
//     padding: 5px;
//   }
  
  

