p{
    background: lightblue;
}

.layout{
    // display:grid;
    // grid-template-columns: 4.5fr 1fr;
    // min-height: 100vh;

    // &-content
    // {
    //     border: 2px solid red;;
    // }
    
    // &-sidebar{
        
    //     border: 2px solid black;;
    // }
}

.input-zone {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  
  .input-zone-input {
    flex: 1;
    margin-right: 10px;
  }
  
  .message-author {
    font-weight: bold;
  }
  
  .messages {
    border: 1px solid #000;
    margin: 10px;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    padding: 5px;
  }
  
  

