// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

// html,
// body {
//   margin: 0;
//   padding: 0;
// }





.main-layout-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 10rem;
    padding: 10px;
    border: 2px red solid;
  
    &-header {
      grid-column: 1 / -1;
    }
  
    &-content {
      grid-column: 1 / 2;
      background: lightseagreen;
    }
  
    &-sidebar {
      grid-column: 2 / 3;
      background: palevioletred;
    }
  
    &-footer {
      grid-column: 1 / -1;
    }
  
  }
  