<div id="divMessages" class="messages"></div>
<div class="input-zone">
  <label id="lblMessage" for="tbMessage">Message:</label>
  <input id="tbMessage" class="input-zone-input" type="text" [(ngModel)]="messages" />

  <button id="btnSend" (click)="onClicked()">Send</button>
</div>


<div class="main-layout-container">

  <div class="main-layout-container-header">

    <app-main-header></app-main-header>

  </div>
  
  <div class="main-layout-container-content">
    <app-main-content></app-main-content>
  </div>

  <div class="main-layout-container-sidebar">
      <app-sidebar-rooms></app-sidebar-rooms>
  </div>
  
  <div class="main-layout-container-footer">
    <app-main-footer></app-main-footer>
  </div>

</div>

<router-outlet></router-outlet>
